.navbar ul {
  list-style-type: none;
  margin: 0px;
  border:#002244;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
  overflow: hidden;
  background: #324b76;
  background-image: linear-gradient(to right, black, #324b76);
  background-color: #003366;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  color: #f1f1e6;
  margin:0px;

}

.picture {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  height: 10%;
  max-block-size: 300px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar li {
  float: left;
  margin:0px;
}

li a:hover {
  background-color: #002244;
}

header {
  text-align: center;
  padding: 10px;
}

p {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: #f1f1e6;
  font-size: 16px;
}

h1 {
  font-family: "Blazed", Tahoma, sans-serif;
  color: #000000;
  text-shadow: 2px 2px 5px #f1f1e6;
  text-align: center;
}

h2 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h3 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h4 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h5 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h6 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  background: #324b76;
  background-image: linear-gradient(to right, black, #324b76);
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111
}

i {
  color: #f3f3ee;
}

@font-face {
  font-family: "Blazed";
  src: url(../fonts/Blazed.ttf);
}

.RallyCar {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 90%;
  max-block-size: 500px;
}

.row{
  display: flex;
  margin-top:4rem;
  margin-left:22rem;
}

.column{
  flex: 50%;
}

.event_image{
  height:50%;
  width:50%;
}

.event_txt{
  margin-right:19rem;
  margin-left:1rem;
}

.event_h{
  margin-left:6rem;
}

.bottom_img_section{
  margin-left:10rem;
  margin-top:6rem;
  margin-bottom:2rem;
}

.bottom_img{
  height:30%;
  width:30%;
}