main{
  padding-left:2rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0px;
  border:#002244;
  border-style: solid;
  border-width: 2px;
  padding: 0px;
  overflow: hidden;
  background: #324b76;
  background-image: linear-gradient(to right, black, #324b76);
  background-color: #003366;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  color: #f1f1e6;
  margin:0px;
  transition: width 2s;
}

.picture {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  height: 10%;
  max-block-size: 300px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar li {
  float: left;
  margin:0px;
}

li a:hover {
  background-color: #002244;
  width: 200px;
}

header {
  text-align: center;
  padding: 10px;
}

p {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: #f1f1e6;
  font-size: 16px;
}

h1 {
  font-family: "Blazed", Tahoma, sans-serif;
  color: #000000;
  text-shadow: 2px 2px 5px #f1f1e6;
  text-align: center;
}

h2 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h3 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h4 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h5 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

h6 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6;
}

body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  background: #324b76;
  background-image: linear-gradient(to right, black, #324b76);
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  color: #f1f1e6
}

i {
  color: #f3f3ee;
}

@font-face {
  font-family: "Blazed";
  src: url(../fonts/Blazed.ttf);
}

.RallyCar {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 90%;
  max-block-size: 500px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  padding: 0 2rem;
}

.column {
  flex: 1 1 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}

.event_image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

.event_txt {
  padding: 0 1rem;
  max-width: 300px;
}

.event_h {
  text-align: center;
}

.bottom_img_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 6rem auto 2rem;
  padding: 0 2rem;
}

.bottom_img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
  }

  .event_image,
  .bottom_img {
    max-width: 100%;
  }
}

.img_box1{
  display:flex;
}