.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #324b76;
  background-image: linear-gradient(to right, black, #324b76);
  background-color: #003366;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  color: #f1f1e6;
  margin:0px;

}

.picture {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  height: 10%;
  max-block-size: 300px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar li {
  float: left;
  margin:0px;
}

li a:hover {
  background-color: #002244;
}

header {
  text-align: center;
  padding: 10px;
}

p {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: #333333;
  font-size: 16px;
}

h1 {
  font-family: "Blazed", Tahoma, sans-serif;
  color: #111111;
  text-shadow: 2px 2px 5px red;
  text-align: center;

}

h2 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111;
}

h3 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111;
}

h4 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111;
}

h5 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111;
}

h6 {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111;
}

body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  color: #111111
}

i {
  color: #003366;
}

@font-face {
  font-family: "Blazed";
  src: url(../fonts/Blazed.ttf);
}

.RallyCar {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 100%;
  max-block-size: 500px;
}