.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar li {
  float: left;

}

.picture 
{
width:70%;
heigh:50%;
}

